.about-me{
    &__info{
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: left;

        @include mini-tablet-portrait{
            align-items: center;
        }
    }

    &__text{
        color: $white-85;
        font-size: $text-size;
        line-height: 1.25;
        text-align: justify;
        letter-spacing: 1px;

        @include tablet-portrait{
            font-size: 15px;
        }

        @include mini-tablet-portrait{
            text-align: left;
        }
    }

    &__link{
        text-decoration: none;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-stroke: 0.5px $main-pink;
    }


    &__link:hover{
        -webkit-text-stroke: 0.8px $main-white;
    }

    &__slider{
        width: 350px;
        height: 350px;
        margin: 50px 0;

        @include tablet-portrait{
            width: 250px;
            height: 250px;
            margin: 25px 0;
        }

        @include mini-tablet-portrait{
            width: 300px;
            height: 300px;
        }

        @include medium-phone{
            width: 250px;
            height: 250px;
        }
    }

    &__slide{
        width: 100%;
    }

    &__fixed-me{
        font-size: 64px;
        color: $main-pink;

        @include tablet{
            font-size: 48px;
        }

        @include tablet-portrait{
            font-size: 40px;
        }

        @include mini-tablet-portrait{
            display: none;
        }
    }
}