.contacts{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 30px; 
    width: 100%;

    &__link{
        display: flex;
        flex-direction: center;
        align-items: center;

        width: 50px;
        height: 50px;

        // @include small-phone{
        //     width: 35px;
        //     height: 35px;
        // }

        @include tablet-portrait{
            width: 40px;
            height: 40px;
        }
    }

    &__icon{
        display: flex;
        flex-direction: center;
        align-items: center;
        width: 100%;
        height: 100%;
        fill: $main-white;
    }

    &__icon:hover{
        transition: fill $transition-time;
        fill: $main-pink;

        @include tablet{
            fill: $main-white;
        }
    }

    &__icon:active{
        transition: width $transition-time, height $transition-time;
        width: calc(50px*0.97);
        height: calc(50px*0.97);

        @include tablet{
            width: 100%;
            height: 100%;
        }
    }

    &__stroke-icon{
        fill: none;
    }

    &__stroke-icon path{
        stroke: $main-white;
    }

    &__stroke-icon:hover{
        fill: none;
    }

    &__stroke-icon:hover path{
        stroke: $main-pink;
        transition: stroke $transition-time;

        @include tablet{
            stroke: $main-white;
        }
    }
}

.contacts{
    &__icon_footer:hover{
        fill: $main-green;

        @include tablet{
            fill: $main-white;
        }
    }

    &__stroke-icon.contacts__icon_footer:hover {
        fill: none;
    }

    &__stroke-icon.contacts__icon_footer:hover path {
        stroke: $main-green;
        transition: stroke $transition-time;

        @include tablet{
            stroke: $main-white;
        }
    }
}

.contacts_footer{
    width: auto;
}