@import 'reset.scss';
@import 'mixins.scss';
@import 'variables.scss';
@import 'contacts.scss';
@import 'section.scss';
@import 'sticky-text.scss';
@import 'slider.scss';
@import 'header.scss';
@import 'about-me.scss';
@import 'stack-grid.scss';
@import 'works.scss';
@import 'footer.scss';

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    background: $bgr-gradient;
    font-family: 'Rubik', 'Arial', 'Calibri',  sans-serif;
}

*::selection{
    background: $pink-50;
}

.unselectable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}