.works{
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 0 0 60px 0;
    }

    &__link{
        color: $white-40;
        font-size: $text-size;
        letter-spacing: 2px;
        text-decoration: none;
        transition: color $transition-time;
    }

    &__el{
        position: relative;
        opacity: 0.4;
        width: 100%;
    }

    &__el:hover &__link{
        color: $main-white;
    }

    &__el:before{
        content: '';
        position: absolute;
        top: 0;
        left: -40px;

        width: $text-size;
        height: $text-size;

        opacity: 0.4;

        transition: opacity $transition-time;
    }

    &__el:hover:before{
        opacity: 1;
    }

    &__el_maket::before{
        background: url('../icons/icon-list-element-pink.svg') center;
    }

    &__el_mine::before{
        background: url('../icons/icon-list-element-green.svg') center;
    }

    &__details{
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 15px;
    }

    &__abbr{
        position: relative;

        font-size: $text-size;
        color: $main-white;
    }

    &__abbr::before{
        content: '';
        position: absolute;
        top: 0;
        left: -30px;

        width: $text-size;
        height: $text-size;
    }

    &__abbr_pink::before{
        background: url('../icons/icon-list-element-pink.svg') center;
    }
    
    &__abbr_green::before{
        background: url('../icons/icon-list-element-green.svg') center;
    }
}